{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="color:#455D7A"><h2><i class="fa fa-shield"></i> - Modifica tu
                contraseña | <a data-toggle="collapse" data-target="#modo-ultra" href="#" class="btn btn-default"
                                style="color:#455D7A;"><i
                        class="fa fa-mouse-pointer"></i> ¡Importante!</a></h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-left">
                <div class="collapse" id="modo-ultra">
                    <br>
                    <div class="alert alert-info"
                         style="background-color: white; border: 1px solid #455D7A; color:#455D7A;">
                        <p>-
                            Su contraseña no puede asemejarse tanto a su otra
                            información
                            personal.</p>
                        <p>- Su contraseña debe contener al menos 8 caracteres.</p>
                        <p>- Su contraseña no puede ser una clave utilizada comunmente.</p>
                        <p>- Su contraseña no puede ser completamente numérica.</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            {% if form.errors %}
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="alert alert-danger" role="alert">
                        {{ form.errors }}
                    </div>
                </div>
                <div class="col-md-3"></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <form method="post" action="{% url 'usuario:password_change' %}">
                        {% csrf_token %}
                        <div class="col-md-12" style="color:#455D7A">
                            <div class="form-group">
                                <label for="old_password">Contraseña antigua:</label>
                                {{ form.old_password }}
                            </div>
                            <br>
                        </div>
                        <div class="col-md-12" style="color:#455D7A">
                            <div class="form-group">
                                <label for="new_password1">Contraseña nueva:</label>
                                {{ form.new_password1 }}
                            </div>
                            <br>
                        </div>
                        <div class="col-md-12" style="color:#455D7A">
                            <div class="form-group">
                                <label for="old_password2">Contraseña nueva (confirmación):</label>
                                {{ form.new_password2 }}
                            </div>
                            <br>
                        </div>
                        <div class="colmd-12 text-center"><br><br>
                            <a id="volver" style="width: 120px" class="btn btn-default"
                               href="{% url 'usuario:profile' request.user.id %}"><i class="fa fa-reply"></i> Volver</a>
                            <button class="btn btn-primary" style="width: 120px" type="submit" value="Change Password">
                                <i class="fa fa-shield"></i> Modificar
                            </button>
                        </div>
                    </form>
                </div>
                <br><br><br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}