{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}

{% block extrastatic %}
{% endblock %}

{% block content %}

    <section class="perfil-usuario">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box"
                         style=" color:#455D7A; background-color:#ffffff; padding:20px; box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <h2>
                                    <strong style="color:#233142"> #{{ user.username }}</strong></h2><img
                                    src="{{ user.profile.image }}"
                                    style=" background-color:#fff; width: 120px; height: 120px; border-radius: 10px; background-size: 100% auto; border: 2px solid #E3E3E3;">
                                <hr>
                                <strong><i class="fa fa-plug"></i> Últ. conexión:</strong> {{ user.last_login }}
                                <hr>
                                <p><a id="showButton" href="{% url 'usuario:following' user.id %}"
                                      class="btn btn-default"><i
                                        class="fa fa-star"
                                        aria-hidden="true"></i>
                                    Siguiendo <span style="background-color: #455D7A; color:#fff"
                                                    class="badge">{{ user.profile.following.all|length }}</span></a>
                                    <a id="showButton" href="{% url 'usuario:followers' user.id %}"
                                       class="btn btn-default"><i
                                            class="fa fa-rss"
                                            aria-hidden="true"></i>
                                        Seguidores <span style="background-color: #455D7A; color:#fff"
                                                         class="badge">{{ user.profile.followed_by.all|length }}</span></a>
                                </p>
                                <p style="font-size: 16px;"><strong><i class="fa fa-heart" aria-hidden="true"
                                                                       style="color: #F95959; font-size: 18px"></i>
                                    totales recibidos:
                                    {{ user.alineacion.numMeGustaTotales }}</strong></p>
                            </div>


                            <div class="col-md-4">
                                <h3 class="text-center" style="color:#233142"><i class="fa fa-folder-open-o"></i> Datos
                                    personales</h3>
                                <hr>
                                <p><strong><i class="fa fa-calendar-times-o"></i> Fecha de
                                    registro:</strong> {{ user.date_joined }}</p>
                                <p><strong><i class="fa fa-user"></i> Nombre:</strong> {{ user.first_name }}</p>
                                <p><strong><i class="fa fa-user-plus"></i> Apellidos:</strong> {{ user.last_name }}</p>
                                <p><strong><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    Email:</strong> {{ user.email }}</p>
                                <p><strong><i class="fa fa-birthday-cake" aria-hidden="true"></i> Cumpleaños:</strong>
                                    {% if '' == user.profile.birth_date %}-{% else %}
                                        {{ user.profile.birth_date }}{% endif %}</p>
                                <p><strong><i class="fa fa-child"></i> Sexo:</strong> {% if '' == user.profile.sex %}
                                    -{% else %}
                                    {{ user.profile.sex }}{% endif %}</p>
                                <p><strong><i class="fa fa-map-marker"></i> Localización:</strong>
                                    {% if '' == user.profile.location %}-{% else %}
                                        {{ user.profile.location }}{% endif %}</p>
                            </div>


                            <div class="col-md-4">
                                <h3 class="text-center" style="color:#233142"><i class="fa fa-child"
                                                                                 aria-hidden="true"></i> Sobre mí</h3>
                                <hr>
                                <p class="text-justify">{% if '' == user.profile.bio %}Sin biografía{% else %}
                                    {{ user.profile.bio }}{% endif %}</p>

                            </div>
                        </div>
                        {% if user.id == request.user.id %}
                            <div class="row">

                                <div class="col-md-12 text-center">
                                    <hr style="border: 1px solid #E3E3E3;">
                                    <a id="addPlayer" addPlayer href="{% url 'usuario:editarPerfil' %}"
                                       class="btn btn-primary" style="width: 162px"><i
                                            class="fa fa-refresh fa-spin"></i> Actualizar mi
                                        perfil</a>
                                    <a id="alBanquillo" href="{% url 'usuario:password_change' %}" class="btn btn-default" style="width: 162px"><i
                                            class="fa fa-shield"></i> Cambiar contraseña</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <hr style="border: 1px solid #E3E3E3;">
                                    <a href="{% url 'scout:principal' %}" class="btn btn-default"
                                       style="color:#455D7A"><i
                                            class="fa fa-mail-reply" aria-hidden="true"></i> - volver</a>
                                    {% if user in request.user.profile.following.all %}
                                        <a id="removePlayer" class="btn btn-default"
                                           href="{% url 'usuario:unfollow' user.id %}"><i class="fa fa-user-times"></i>
                                            - Dejar de
                                            seguir</a>{% else %}<a id="addPlayer" class="btn btn-default"
                                                                   href="{% url 'usuario:follow' user.id %}"><i
                                            class="fa fa-user-plus"></i> - Seguir</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div row></div>
                    </div>
                </div>
            </div>
            <div class="row" style="color: #455D7A">
                <div class="col-md-7">
                    <div class="box-border">
                        <table id="gestion-equipo" class="table table-hover table-list-search">
                            <thead>
                            <tr>
                                <td colspan="2" style="font-size: 14px"><strong>Mi alineación</strong></td>
                                <td class="text-center" colspan="2" style="font-size: 14px">
                                    <strong>Posición</strong></td>
                                <td class="text-center" style="font-size: 14px"><strong>Valor</strong></td>
                                <td class="text-center" style="font-size: 14px"><strong>Club</strong></td>
                            </tr>
                            </thead>

                            <tbody style="font-size: 12px;">

                            {% for jugador in porteros %}
                                {% if jugador.id in titulares_id %}
                                    <tr class="text-center">
                                        <td><img src="{{ jugador.avatar }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></td>
                                        <td><a href="{% url 'scout:perfilJugador' jugador.id %}"><p style="line-height:25px"></p>{{ jugador.alias }}</a></td>
                                        <td><span class="pos-1">PT</span></td>
                                        <td><p style="line-height:25px">{{ jugador.posicion }}</p></td>
                                        <td><p style="line-height:25px">{{ jugador.valor|intcomma }} €</p></td>
                                        <td><a href="{% url 'scout:equipo' jugador.equipo.id %}"><img src="{{ jugador.equipo.escudo }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for jugador in defensas %}
                                {% if jugador.id in titulares_id %}
                                    <tr class="text-center">
                                        <td><img src="{{ jugador.avatar }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></td>
                                        <td><a href="{% url 'scout:perfilJugador' jugador.id %}"><p style="line-height:25px"></p>{{ jugador.alias }}</a></td>
                                        <td><span class="pos-2">DF</span></td>
                                        <td><p style="line-height:25px">{{ jugador.posicion }}</p></td>
                                        <td><p style="line-height:25px">{{ jugador.valor|intcomma }} €</p></td>
                                        <td><a href="{% url 'scout:equipo' jugador.equipo.id %}"><img src="{{ jugador.equipo.escudo }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for jugador in medios %}
                                {% if jugador.id in titulares_id %}
                                    <tr class="text-center">
                                        <td><img src="{{ jugador.avatar }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></td>
                                        <td><a href="{% url 'scout:perfilJugador' jugador.id %}"><p style="line-height:25px"></p>{{ jugador.alias }}</a></td>
                                        <td><span class="pos-3">MC</span></td>
                                        <td><p style="line-height:25px">{{ jugador.posicion }}</p></td>
                                        <td><p style="line-height:25px">{{ jugador.valor|intcomma }} €</p></td>
                                        <td><a href="{% url 'scout:equipo' jugador.equipo.id %}"><img src="{{ jugador.equipo.escudo }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for jugador in delanteros %}
                                {% if jugador.id in titulares_id %}
                                    <tr class="text-center">
                                        <td><img src="{{ jugador.avatar }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></td>
                                        <td><a href="{% url 'scout:perfilJugador' jugador.id %}"><p style="line-height:25px"></p>{{ jugador.alias }}</a></td>
                                        <td><span class="pos-4">DL</span></td>
                                        <td><p style="line-height:25px">{{ jugador.posicion }}</p></td>
                                        <td><p style="line-height:25px">{{ jugador.valor|intcomma }} €</p></td>
                                        <td><a href="{% url 'scout:equipo' jugador.equipo.id %}"><img src="{{ jugador.equipo.escudo }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-5 text-justify" style="font-size: 15px;">
                    <div class="box"
                         style="background-color:#ffffff; padding:20px; box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)">
                        <h2 class="text-center" style="color:#233142"><i class="fa fa-soccer-ball-o"></i> {{ user.alineacion.titulo }}</h2>
                        <hr>
                        {{ user.alineacion.descripcion }}
                        <hr>
                        <p><strong>Última actualización: </strong>{{ user.alineacion.ultimaActualizacion }}</p>
                        <p><strong>Edad media: </strong>{{ user.alineacion.edadMedia }} años</p>
                        <p><strong>Valor aprox: </strong>{{ user.alineacion.valor|intcomma }} €</p>
                        <p><strong><i class="fa fa-heart" aria-hidden="true" style="color: #F95959;"></i> recibidos:
                        </strong>{{ user.alineacion.megusta_set.all|length }}</p><br>
                        <p class="text-center"><a id ="showButton" style="color:#455D7A" href="{% url 'scout:listar_alineaciones' %}"
                                                  class="btn btn-default"><i
                                class="fa fa-soccer-ball-o"></i> Explorar todas</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="comentarios">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="color:#455D7A">
                <h2 class="page-header text-center" style="color:#233142"><i class="fa fa-comments-o"
                                                                             style="color:rgba(47, 180, 139, 0.86);"></i>
                    <a name="comentarios"></a>Comentarios</h2>
                <section class="comment-list">
                    {% for comment in comments %}
                        <article class="row">
                            <div class="col-md-2 col-sm-2 hidden-xs">
                                <figure class="thumbnail">
                                    <img class="img-responsive"
                                         src="{{ comment.autor.profile.image }}"/>
                                    <figcaption class="text-center"><a name="comment{{ comment.id }}"
                                                                       style="color:#233142"
                                                                       href="{% url 'usuario:perfil' comment.user.id %}">{{ comment.autor.username }}</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="panel panel-default arrow left" style="background-color: #ffff;">
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div class="comment-user"><i class="fa fa-user"></i> <a
                                                    style="color:#233142"
                                                    href="{% url 'usuario:perfil' comment.user.id %}">{{ comment.autor.username }}</a>
                                            </div>
                                            <time class="comment-date" style="color:#233142"><i
                                                    class="fa fa-clock-o"></i> {{ comment.created_date }}
                                            </time>
                                        </header>
                                        <div class="comment-post">
                                            <p style="font-size: 16px">
                                                {{ comment.text }}
                                            </p>
                                        </div>

                                        <p class="text-right">
                                            {% if comment.user.id == request.user.id or comment.autor.id == request.user.id %}
                                                <a style="width: 80px" id="volver"
                                                   href="{% url 'usuario:comment_delete' comment.id %}"
                                                   class="btn btn-default btn-sm">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                    Eliminar</a>{% endif %}
                                            {% if comment.autor.id == request.user.id %}
                                                <a style="color:#455D7A"
                                                   href="{% url 'usuario:comment_edit' comment.id %}"
                                                   class="btn btn-default btn-sm"><i class="fa fa-refresh fa-spin"></i>
                                                    Editar</a>{% endif %}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </section>
            </div>
            <div class="col-md-12 text-center"><a id="addPlayer" class="btn btn-default"
                                                  href="{% url 'usuario:comment_create' user.id %}"><i
                    class="fa fa-comment" aria-hidden="true"></i> Añadir comentario</a><br><br></div>
        </div>
    </div>
{% endblock %}

