{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <br><br>
            <h3 style="color: #455D7A">Su contraseña se reestableció correctamente</h3>
            <br>
            <a style="color:#455D7A;" href="{% url 'index' %}" class="btn btn-default"><i class="fa fa-thumbs-o-up"></i> Iniciar sesión</a>
            <br><br><br>
        </div>
    </div>
    </div>
{% endblock %}