{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if validlink %}
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <h3 style="color: #233142"><i class="fa fa-shield"></i> Introduzca su nueva contraseña</h3>
                    <hr>
                </div>
                <div class="col-md-3"></div>
                </div>
                <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="color:#455D7A">

                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">

                                {% csrf_token %}

                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">Nueva contraseña:</label>
                                {{ form.new_password1 }}

                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" style="width: 200px" type="submit"
                                        value="Cambiar mi contraseña">
                                    <i class="fa fa-shield"></i> Cambiar mi contraseña
                                </button>
                                <br><br>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            {% else %}
                <div class="col-md-12">
                    <br><br>
                    <h3 style="color: #455D7A">Te hemos enviado un email desde el cuál podrás reestablecer tu
                        contraseña.</h3>
                    <br>
                    <a style="color:#455D7A;" href="{% url 'index' %}" class="btn btn-default"><i
                            class="fa fa-thumbs-o-up"></i> Vale</a>
                    <br><br><br>
                </div>
            {% endif %}
            </div>
    </div>
<!--
    {% if validlink %}



        <form method="post">
            {% csrf_token %}

            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}

            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
            <input type="submit" value="Cambiar mi contraseña"/>
        </form>

    {% else %}

        <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

    {% endif %}-->

{% endblock %}