{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}

{% block content %}
    <style>
        #id_email {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 style="color:#233142"><i class="fa fa-shield"></i> Recuperar contraseña | <a
                                data-toggle="collapse" data-target="#modo-ultra" href="#" class="btn btn-default"
                                style="color:#455D7A;"><i
                                class="fa fa-mouse-pointer"></i> ¡Leer!</a>
                            <hr>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="collapse" id="modo-ultra">
                            <br>
                            <div class="alert alert-info"
                                 style="background-color: white; border: 1px solid #455D7A; color:#455D7A;">
                                <p>Asegúrese que el email es correcto, y coincide con su usuario. En caso contrario la
                                    operación no se podrá llevar a cabo.</p>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form method="post">
                        {% csrf_token %}


                        <div class="col-md-12" style="color:#455D7A">
                            <div class="form-group">
                                <label for="id_email">Email: </label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <br>
                            <a id="volver" style="width: 120px" class="btn btn-default"
                               href="{% url 'index' %}"><i class="fa fa-reply"></i> Volver</a>
                            <button class="btn btn-primary" style="width: 120px" type="submit" value="Enviar">
                                <i class="fa fa-shield"></i> Enviar
                            </button>
                            <br><br>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}