{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>500 ERROR</title>
</head>
<body>


<div class="container">
    <div class="row text-center">
        <div class="col-md-12"><h1>¡OHHH! Esta no es la página que estás buscando</h1></div>
        <div class="col-md-12"><img style="height: 500px; width: auto"
                                    src="http://www.mediadump.com/post/soccer-players-caricatures/SERGIO-RAMOS.jpg">
        </div>
    </div>
</div>
</body>