{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}
{% load humanize %}

{% block content %}
    <section class="descripcion-alineacion">
        <div class="container">
            <div class="row">
                {% if titulares_id %}
                    <div class="col-md-7">
                        <div class="box-border">
                            <table id="gestion-equipo" class="table table-hover table-list-search">
                                <thead>
                                <tr>
                                    <td colspan="2" style="font-size: 14px"><strong>Mi alineación</strong></td>
                                    <td class="text-center" colspan="2" style="font-size: 14px">
                                        <strong>Posición</strong></td>
                                    <td class="text-center" style="font-size: 14px"><strong>Valor</strong></td>
                                    <td class="text-center" style="font-size: 14px"><strong>Club</strong></td>
                                </tr>
                                </thead>

                                <tbody style="font-size: 12px;">

                                {% for jugador in porteros %}
                                    {% if jugador.id in principals_id %}
                                        <tr class="text-center">
                                            <td><img src="{{ jugador.image }}"
                                                     style="width:24px; height: auto; border-radius: 4px"></td>
                                            <td><a href="{% url 'scout:perfilJugador' jugador.id %}"><p style="line-height:25px">{{ jugador.name }}</p></a></td>
                                            <td><span class="pos-1">PT</span></td>
                                            <td><p style="line-height:25px">{{ jugador.position }}</p></td>
                                            <td><p style="line-height:25px">{{ jugador.value|intcomma }} €</p></td>
                                            <td><a href="{% url 'scout:equipo' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% for jugador in defensas %}
                                    {% if jugador.id in principals_id %}
                                        <tr class="text-center">
                                            <td><img src="{{ jugador.image }}"
                                                     style="width:24px; height: auto; border-radius: 4px"></td>
                                            <td><a href="{% url 'scout:player_profile' jugador.id %}"><p style="line-height:25px">{{ jugador.name }}</p></a></td>
                                            <td><span class="pos-2">DF</span></td>
                                            <td><p style="line-height:25px">{{ jugador.position }}</p></td>
                                            <td><p style="line-height:25px">{{ jugador.value|intcomma }} €</p></td>
                                            <td><a href="{% url 'scout:player_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% for jugador in medios %}
                                    {% if jugador.id in principals_id %}
                                        <tr class="text-center">
                                            <td><img src="{{ jugador.image }}"
                                                     style="width:24px; height: auto; border-radius: 4px"></td>
                                            <td><a href="{% url 'scout:player_profile' jugador.id %}"><p style="line-height:25px">{{ jugador.name }}</p></a></td>
                                            <td><span class="pos-3">MC</span></td>
                                            <td><p style="line-height:25px">{{ jugador.position }}</p></td>
                                            <td><p style="line-height:25px">{{ jugador.value|intcomma }} €</p></td>
                                            <td><a href="{% url 'scout:player_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% for jugador in delanteros %}
                                    {% if jugador.id in principals_id %}
                                        <tr class="text-center">
                                            <td><img src="{{ jugador.image }}"
                                                     style="width:24px; height: auto; border-radius: 4px"></td>
                                            <td><a href="{% url 'scout:player_profile' jugador.id %}"><p style="line-height:25px">{{ jugador.name }}</p></a></td>
                                            <td><span class="pos-4">DL</span></td>
                                            <td><p style="line-height:25px">{{ jugador.position }}</p></td>
                                            <td><p style="line-height:25px">{{ jugador.value|intcomma }} €</p></td>
                                            <td><a href="{% url 'scout:team_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:24px; height: auto; border-radius: 4px"></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-5" style="color:#455D7A">
                    <div class="box" style="padding:30px; box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="titulo">
                                    <p style="font-size: 35px"><strong><i
                                            class="fa fa-soccer-ball-o"></i> {{ squad.title }}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-justify">
                                    <hr>
                                    <p style="font-size: 15px">{{ squad.title }}</p>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center"><br><a id="editButton"
                                                                      href="{% url 'scout:squad_edit' %}"
                                                                      class="btn btn-default" style="color:#455D7A;"><i class="fa fa-edit"></i>
                                -
                                Editar</a>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="font-size: 15px">
                                <p><strong>Última actualización: </strong>{{ user.squad.lastUpdate }}</p>
                                <p><strong>Número de jugadores:</strong> {{ squad.principals.all|length }}</p>
                                <p><strong>Valor total:</strong> {{ principals_value|intcomma }} €</p>
                                <p><strong>Edad media:</strong> {{ average_age }} años</p>
                                <p><strong><i class="fa fa-heart" aria-hidden="true" style="color: #F95959;"></i>
                                    recibidos:
                                </strong>{{ user.squad.like_set.all|length }} </p>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="titulo">
                                <p style="font-size: 35px"><strong>{{ squad.title }}</strong></p>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="descripcion"><p style="font-size: 16px">{{ squad.description }}</p></div>
                            <br>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 text-center"><a id="editButton" href="{% url 'scout:squad_edit' %}"
                                                              class="btn btn-default"><i class="fa fa-edit"></i> -
                            Editar</a>
                            <br><br><br>
                        </div>
                    </div>
                {% endif %}


                </div>
            </div>
        </div>

    </section>
    <section class="jugadores-alineacion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <form action="#" method="get">
                        <div class="input-group">
                            <span style="background-color: #E3E3E3; color: #455D7A;" class="input-group-addon"
                                  id="basic-addon1"><i
                                    class="glyphicon glyphicon-search"></i></span>
                            <input class="form-control" id="system-search" name="q" placeholder="Buscar..."
                                   aria-describedby="basic-addon1" required>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="box-border">
                        <table id="gestion-equipo" class="table table-hover table-list-search">
                            <thead>
                            <tr>
                                <td colspan="2" style="font-size: 15px"><strong>Mis jugadores</strong></td>
                                <td class="text-center" colspan="2" style="font-size: 15px"><strong>Posición</strong>
                                </td>
                                <td class="text-center" style="font-size: 15px"><strong>Valor</strong></td>
                                <td class="text-center" style="font-size: 15px"><strong>F. nacimiento</strong></td>
                                <td class="text-center" style="font-size: 15px"><strong>Club</strong></td>
                                <td class="text-center" style="font-size: 15px"><strong>+/- a titulares</strong></td>
                                <td class="text-center" style="font-size: 15px"><strong>+/- jugador</strong></td>
                            </tr>
                            </thead>

                            <tbody>

                            {% for jugador in porteros %}
                                <tr class="text-center">
                                    <td><img src="{{ jugador.image }}"
                                             style="width:28px; height: auto; border-radius: 4px"></td>
                                    <td><a href="{% url 'scout:player_profile' jugador.id %}">{{ jugador.name }}</a></td>

                                    <td><span class="pos-1">PT</span></td>
                                    <td>{{ jugador.position }}</td>
                                    <td>{{ jugador.value|intcomma }} €</td>
                                    <td>{{ jugador.birthDate }}</td>
                                    <td><a href="{% url 'scout:player_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:28px; height: auto; border-radius: 4px"></a></td>
                                    {% if jugador.id not in principals_id %}
                                        <td><a id="addPlayer" href="{% url 'scout:hacerTitular' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-trophy"></i> - Hacer titular</a>
                                        </td>
                                    {% else %}
                                        <td><a id="alBanquillo" href="{% url 'scout:hacerSuplente' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-external-link"></i> - Al
                                            banquillo</a></td>
                                    {% endif %}
                                    <td><a onclick="return confirm('¿Seguro que desea realizar esta operación?')" id="removePlayer" href="{% url 'scout:remove_player_from_squad' jugador.id %}"
                                           class="btn btn-default"><i class="fa fa-minus-square"></i> - Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for jugador in defensas %}
                                <tr class="text-center">
                                    <td><img src="{{ jugador.image }}"
                                             style="width:30px; height: auto; border-radius: 4px"></td>
                                    <td><a href="{% url 'scout:player_profile' jugador.id %}">{{ jugador.name }}</a></td>
                                    <td><span class="pos-2">DF</span></td>
                                    <td>{{ jugador.position }}</td>
                                    <td>{{ jugador.value|intcomma }} €</td>
                                    <td>{{ jugador.birthDate }}</td>
                                    <td><a href="{% url 'scout:player_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:28px; height: auto; border-radius: 4px"></a></td>
                                    {% if jugador.id not in principals_id %}
                                        <td><a id="addPlayer" href="{% url 'scout:hacerTitular' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-trophy"></i> - Hacer titular</a>
                                        </td>
                                    {% else %}
                                        <td><a id="alBanquillo" href="{% url 'scout:hacerSuplente' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-external-link"></i> - Al
                                            banquillo</a></td>
                                    {% endif %}
                                    <td><a onclick="return confirm('¿Seguro que desea realizar esta operación?')" id="removePlayer" href="{% url 'scout:remove_player_from_squad' jugador.id %}"
                                           class="btn btn-default"><i class="fa fa-minus-square"></i> - Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for jugador in medios %}
                                <tr class="text-center">
                                    <td><img src="{{ jugador.image }}"
                                             style="width:30px; height: auto; border-radius: 4px"></td>
                                    <td><a href="{% url 'scout:player_profile' jugador.id %}">{{ jugador.name }}</a></td>
                                    <td><span class="pos-3">MC</span></td>
                                    <td>{{ jugador.position }}</td>
                                    <td>{{ jugador.value|intcomma }} €</td>
                                    <td>{{ jugador.birthDate }}</td>
                                    <td><a href="{% url 'scout:player_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:28px; height: auto; border-radius: 4px"></a></td>
                                    {% if jugador.id not in principals_id %}
                                        <td><a id="addPlayer" href="{% url 'scout:hacerTitular' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-trophy"></i> - Hacer titular</a>
                                        </td>
                                    {% else %}
                                        <td><a id="alBanquillo" href="{% url 'scout:hacerSuplente' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-external-link"></i> - Al
                                            banquillo</a></td>
                                    {% endif %}
                                    <td><a onclick="return confirm('¿Seguro que desea realizar esta operación?')" id="removePlayer" href="{% url 'scout:remove_player_from_squad' jugador.id %}"
                                           class="btn btn-default"><i class="fa fa-minus-square"></i> - Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for jugador in delanteros %}
                                <tr class="text-center">
                                    <td><img src="{{ jugador.image }}"
                                             style="width:30px; height: auto; border-radius: 4px"></td>
                                    <td><a href="{% url 'scout:player_profile' jugador.id %}">{{ jugador.name }}</a></td>
                                    <td><span class="pos-4">DL</span></td>
                                    <td>{{ jugador.position }}</td>
                                    <td>{{ jugador.value|intcomma }} €</td>
                                    <td>{{ jugador.birthDate }}</td>
                                    <td><a href="{% url 'scout:player_list' jugador.team.id %}"><img src="{{ jugador.team.badge }}"
                                                 style="width:28px; height: auto; border-radius: 4px"></a></td>
                                    {% if jugador.id not in principals_id %}
                                        <td><a id="addPlayer" href="{% url 'scout:hacerTitular' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-trophy"></i> - Hacer titular</a>
                                        </td>
                                    {% else %}
                                        <td><a id="alBanquillo" href="{% url 'scout:hacerSuplente' jugador.id %}"
                                               class="btn btn-default"><i class="fa fa-external-link"></i> - Al
                                            banquillo</a></td>
                                    {% endif %}
                                    <td><a id="removePlayer" href="{% url 'scout:remove_player_from_squad' jugador.id %}"
                                           onclick="return confirm('¿Seguro que desea realizar esta operación?')" class="btn btn-default"><i class="fa fa-minus-square"></i> - Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}