{% extends 'base/base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="color:#455D7A">
                <h2><i class="fa fa-keyboard-o"></i> Personaliza tu equipo</h2>
                <hr>
            </div>
            <div class="col-md-12" style="color:#233142">
                <form id="form" method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="text-center"><a id="volver" style="width: 120px" class="btn btn-default"
                          href="{% url 'scout:gestionar_alineacion' %}"><i class="fa fa-reply"></i> Volver</a>
                        <button class="btn btn-primary" style="width: 120px" type="submit"><i class="fa fa-keyboard-o"></i> Guardar
                        </button></p>

                </form>
                <br><br><br>
            </div>
        </div>
    </div>
    </div>
{% endblock %}